# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/

# ML Models
checkpoints/
models/

# Datasets
datasets/
*.parquet
*.mp4
*.hdf5
*.h5
*.tfrecord

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log
wandb/
